<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
     
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Hakkımızda
            </h6>
            <p>
                Saro Jeneratör, 2001 yılında Türkiye'de üretim hayatına başlamış, günümüzde jeneratör sektöründe kendine sağlam bir yer edinmiş tecrubesi sayesinde lider firmalardan biri olmuştur.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Ürünler
            </h6>
            <p>
              <a href="#!" class="text-reset">Ricardo Serisi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Dongfeng Serisi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Baudouin Serisi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Perkins Serisi</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Hizmetler
            </h6>
            <p>
              <a href="{% url 'services' %}" class="text-reset">Güç ve Yer Tespiti</a>
            </p>
            <p>
              <a href="{% url 'services' %}" class="text-reset">Montaj</a>
            </p>
            <p>
              <a href="{% url 'services' %}" class="text-reset">Bakım</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">İletişim</h6>
            <!--p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p-->
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@saro.gen.tr
            </p>
            <p><i class="fas fa-phone me-3"></i> +90 (212) 235 33 35 pbx</p>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <!--div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div-->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->