{% extends 'layout.html' %}


{% block body %}
<div class="row" style="margin: 50px;"></div>
<div class="d-flex p-2 bd-highlight"><span class="border">ISO 9001:2008 Kalite Güvence Sistemi, EN ISO 14001:2004, OHSAS 18001:2007, Avrupa Standardı Uygunluk CE Sertifikasına sahip Saro Jeneratör’de günümüz şartlarına uygun esnek üretim sistemi ile her türlü müşteri talebi en hızlı şekilde karşılanabilmektedir..</span>
</div>
<br>
<div class="row"style="margin:5px;">
    <div class="col">
        
        <div class="card" style="width: 500px;">
            <img src="http://saro.gen.tr/assets/images/preview/hakkimizda-banner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Enerji İhtiyacınız İçin</h5>
              <p class="mb-0">
                Saro Jeneratör, 2001 yılında KAZANCI JENERATOR YAPI INSAAT SAN. VE TIC. LTD. STI. firmasının bir markası olarak Türkiye’de üretim hayatına başlamış, günümüzde jeneratör sektöründe kendine sağlam bir yer edinmiş tecrubesi sayesinde lider firmalardan biri olmuştur. Sektördeki gelişmelerle doğru orantılı olarak kapasitesini arttıran ve gelişen bir çizgi izleyerek, İstanbul’da yeni fabrikalarında profesyonel kadro ve gelişmiş makine parkı ile üretim yapmaktadır
              </p>
             
            </div>
          </div>   
</div
    <div class="col">
        <div class="card" style="width:500px;">
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        NEDEN BİZİ TERCİH EDİYORLAR?
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Çünkü Kalite ve Güven bizim işimiz! !
					  </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Kaliteye Önem Veriyoruz
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
							Saro Jeneratör,hizmet verdiği alanlarda ufak bir aksaklığın bile büyük zararlara yol açabileceği bilinci içerisinde kaliteden ödün vermeden üretim yapmaktadır.
					  </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Müşteri Memnuniyeti
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      Müşteri memnuniyetini her zaman ön planda tutan firmamız, TÜRKİYE’nın birçok yerinde müşterilerine 7/24 teknik servis imkanı sağlamaktadır. .  </div>
                  </div>
                </div>
				      <div class="card">
                  <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Ürün Çeşitliliği
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                Saro Jeneratör, üretim kapasitesi ve çeşitliliği yönünden rakiplerinin bir adım önündedir.      </div>
                  </div>
                </div>
				      <div class="card">
                  <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Dünya'ya İhracat
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                Saro Jeneratör, 20’ı aşkın ülkeye yaptığı direkt ve dolaylı ihracatlarla sektörün ihracat satışları en yüksek olan firmalardan biridir.     </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>

{% endblock body %}