{% extends "layout.html" %}



{% block body %}


<table class="table table-bordered">
    <thead>
      <tr>
       
        <th>Ad</th>
        <th>Email</th>
        <th>Firma</th>
        <th>Oku</th>
        <html>Sil</html>
      </tr>
    </thead>
          {% if contacts %}
    <tbody>
         
          {% for contact in contacts %}
          <tr>
            <td>{{contact.adSoyad}}</td>
            <td>{{contact.eMail}}</td>
            <td>{{contact.firmaAdi}}</td>
            <td><a href="{% url 'contact-detail' contact.id %}" class="btn btn-success">Oku</a></td>
            <td><a href="{% url 'contact-delete' contact.id %}" class="btn btn-success">Sil</a></td>
          </tr>
            {% endfor %}
       
    </tbody>
    {% else %}
    {% endif %}
  </table>
  
{% endblock body %}