{% extends 'layout.html' %}

{% block body %}

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">{{product.jenModel}}</h2>
    <br>
    <a type="submit" class="btn btn-link" href="{{MEDIA_URL}}{{product.katalogTr}}">DataSheet(TR)</a> <a type="submit" class="btn btn-link" href="{{MEDIA_URL}}{{product.katalogEn}}" >DataSheet(EN)</a>
    <br><br>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Motor</th>
          <th>KVA</th>
          <th>Frekans</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{product.engine}}</td>
          <td>{{product.kva}}</td>
          <td>{{product.frekans}}</td>
          
          
        </tr>
        
      </tbody>
    </table>
    <br>
    
    
  </div>
  <div class="col-md-5 order-md-1">
    {% load static %}
    <img src="{{MEDIA_URL}}{{product.photo}}" width="300" height="300" alt="">
  </div>
</div>
{% endblock body %}