{% extends 'layout.html' %}

{% block body %}
{% include 'include/carousel.html' %}
<div class="row" style="margin:50px;">
    <div class="col">
        <div class="card">
            <div class="card-header">
             <h5>Saro & Çevre</h5> 
            </div>
            <div class="card-body">
            <p class="card-text">Saro Jeneratör, ürettiği kabin ve şaseleri boyamak için doğa dostu anti-kanserojen ve kurşun içermeyen polyester toz boya kullanmaktadır.</p>
              
            </div>
          </div>
    </div>
<div class="col">
    <div class="card">
        <div class="card-header">
          <h5>Geri Dönüşüm</h5>
        </div>
        <div class="card-body">
          
          <p class="card-text">Saro jeneratör olarak, satışını gerçekleştirdiği ürünlerin ambalaj, naylon ve koli atıklarını kendi özel araçlarımızla alarak geri dönüşüme katkıda bulunuyoruz.</p>
        
        </div>
      </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-header">
          <h5>Gürültü Kirliliği</h5>
        </div>
        <div class="card-body">
         
          <p class="card-text">Türkiye’de kendi ses testini yapabilen tek jeneratör firması olan Saro jeneratör, tüm dünyada geçerli olan IEC 34 sertifikasına sahiptir.
            Çevremize önem veriyoruz.</p>
          
        </div>
      </div>
</div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-md-auto">
        <h5>Teknik Özellikler</h5>
        </div>
        <div class="col"></div>

</div>
<div class="table-responsive-lg">
   
    <table class="table table-border">
     
        <tbody>
            <tr>
            <td><b>Uzaktan Kontrol</b><br> Jeneratörlerimiz uzaktan kontrol edebilme teknolojisine sahiptir</td>
            <td><b>Teknik Dökümanlar</b><br>Jeneretör hakkında tüm bilgiler jeneratör ile birlikte gelmektedir.</td>
        </tr>
            <td><b>Kaliteli Malzeme</b><br> Tüm jeneratörlerimiz 1. sınıf kalitede üretilmektedir.</td>
            <td><b>İhtiyacınıza Göre Jeneratör</b><br>Tüm ihtiyaçlarınızı karşılayabilecek jeneratör çeşitleri.</td>
        </tr>
            <td><b>Yedek Parça</b> <br> Yedek parça bakımından zengin bir yelpazeye sahiptir.</td>
            <td><b>Zamanlama</b><br>İstediğiniz zaman jeneratörü çalıştırabilir veya durdurabilme yetkisi.</td>
        </tr>
            <td><b>Kişiselleştirme</b> <br> Tüm ihtiyaçlarınıza göre jeneratörü isteğinize göre ayarlayabilme seçeneği</td>
            <td><b>7/24 Destek & Eğitim</b><br>Jeneretörle ilgili tüm soru ve istekleriniz için bize 7/24 ulaşabilirsiniz! <br> Teknik ekibimiz tarafından kullanım ile ilgili tüm eğitimler verilmektedir.</td>
        </tbody>
    </table>

    <div>
 
{% endblock body %}