{% extends "layout.html" %}

{% block body %}

<div class="row" style="margin:20px">
    <div class="jumbotron">
        <h1 class="display-4">Güç ve Yer Tespiti</h1>
        <p class="lead">
          Saro Jeneratör uzman ekibi ile İstanbul içi güç ve yer tespitini ücretsiz olarak yapıyor.
Jeneratör satın almadan önce uzman kişilerce güç ve yer tespiti yapılması, doğru jeneratör seçimi açısından önem arz etmektedir.
Bu keşifte jeneratörün konulacağı yer jeneratör kullanıcısı ile birlikte farklı açılar ile analiz edilip belirlenir. Bu analizde jeneratörün performanslı çalışabilmesi için hava alış, hava atış, ses, titreşim gibi unsurlardan sonra vinç maliyeti, servis ve bakım kolaylığı, kablo maliyeti gibi unsurlar kullanıcı ile görüşülerek en doğru yer saptanır.
Jeneratörün gücü konusunda ise demerajlı, elektrik motorlu yükler, aktif reaktip yükler, UPS, regülatör, kompanzasyon gibi unsurlar da göz önüne alınarak, ölçüm cihazları ile kullanıcının gücü ölçülür ve hesaplanır.
Güç ve yer tespiti yapılan yerlerde firmamız anahtar teslim fiyatlar da verebilmektedir.
İstanbul dışında ise yaygın servis ağımız sayesinde servislerimiz tarafından bu hizmetler yine ücretsiz olarak sağlanmaktadır. Servislerimizin iletişim bilgilerini web sitemizin servisler bölümünden bulabileceğiniz gibi, firmamızı arayarak servis yönlendirmesi de yaptırabilirsiniz.
        </p>
        
      </div>
      <div class="jumbotron">
        <h1 class="display-4">Montaj</h1>
        <p class="lead">
          Satın aldığınız jeneratörün montajının ve devreye alınmasının uzman kişiler tarafından yapılması, jeneratörün performanslı, verimli ve sorunsuz çalışması açısından oldukça önemlidir.
          Devreye alma sırasında gerekli altyapının doğru hazırlandığı uzman ekip tarafından kontrol edilip bağlantılar yapılmalı ve jeneratör devreye alınmalıdır.
          Satın aldığınız Saro Jeneratör marka jeneratörün yetkili servisimiz yada firmamız personeli haricinde kişiler tarafından devreye alınması ürünün garanti kapsamının da dışına çıkmasına sebebiyet verecektir.
          Saro Jeneratör yetkili servisi yada personelimiz tarafından yapılacak ilk çalıştırma işlemleri ücretsizdir. Devreye alma işlemi sonrasında fonksiyon ve kullanım testleri de ücretsiz olarak yapılmaktadır.  
        </p>
        
      </div>
      <div class="jumbotron">
        <h1 class="display-4">Bakım</h1>
        <p class="lead">
          Satın alacağınız ya da aldığınız jeneratör setinin sorunsuz ve performanslı çalışabilmesi adına aylık periyodik bakım anlaşması yapmanızı öneririz.
          Aylık periyodik bakım ile jeneratörünüzde oluşabilecek arızalar önceden görülerek, bir kesinti anında jeneratörünüzün arıza yapıp sizi mağdur etmesini engellemiş olursunuz.
          Periyodik bakıma gelen servisimiz jeneratör testleri, gözle kontrol, teknik kontrol, yakıt kontrolü, jenerator temizliği yaparak yapılması gerekenleri müşteri onayından sonra yapar ya da müşterimizi bilgilendirir.
          Apartmanlar ve kamu kurumları için özel olarak hazırlamış olduğumuz periyodik bakım fiyatlarımızı ve ürünlerimizi görmeden periyodik bakım anlaşması yapmamanızı öneririz.
          Detaylı bilgi için bizi aramanız yeterli. 
        </p>
        
      </div>
      
</div>

{% endblock body %}
